# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.text-mesh-pro-asset-bundle.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\text-mesh-pro-asset-bundle\.idea\.idea.text-mesh-pro-asset-bundle\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
